    <div class="col-6 col-s-9">
    <div>

       <div class="orange">
           <p>Created on {{ today | date : 'MM/dd/yyyy'}}</p> 
       </div>
      <table class="table table-bordered">
          <thead>
                   <tr>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Price</th>
                  </tr>
          </thead>
          <tbody>
              <tr *ngFor='let info of employee'>
  
                      <td>{{info.name}}</td>
                      <td>{{info.author}}</td>
                      <td>{{info.price}}</td>
                      
             </tr>
  
          </tbody>
      </table>
    </div>
    </div>
