<div>
    <div class="header">
        <h1> Assignment Routing with Login form</h1>
    </div>
    <div class="mainimage">
       <div class="row">
         <div class="col-3 col-s-3 menu">
           <ul>
              <li><a [routerLink]="['home']">Home</a></li>
                 <li (click)="setLoginPage()"><a [routerLink]="['login']">Login</a></li>
                   <li><a [routerLink]="['sign-up']">Sign Up</a></li>
                     <li><a a [routerLink]="['about-us']">About Us</a></li>
           </ul>
        </div>
        <router-outlet></router-outlet>
</div>
</div>
<div class="footer">
Thank You
</div>
<!--     
(click)="setLoginPage()"
-->
