input[ type="text"]{
    outline: none;
    border-radius:30px;
    padding: 7px;
    margin: 20px;
    border-color: blueviolet;
    width: 350px;
    

}


.icon{
     background: url("icons8-search-24.png") no-repeat  ;
     background-position: 310px 7px;
}

